@font-face {
	font-family: 'Aeonik Pro';
	src: url('/AeonikPro-Regular.ttf');
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	max-width: 100vw;
	background-color: #19191c;
	display: flex;
	align-items: center;
	z-index: 0;
}

.container {
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 50%;
	width: fit-content;
	height: min-content;
}

.container-with-bg {
	background-color: rgb(35, 35, 37);
	border-radius: var(--border-radius-medium);
	border: 1px solid rgb(52, 52, 54);
}

.container-transparent {
	background-color: transparent;
}

h1 {
	color: #adadb0;
	font-family: 'Aeonik Pro';
}

h2 {
	color: #adadb0;
	font-family: 'Aeonik Pro';
}

p {
	color: #adadb0;
	font-family: 'Inter';
}

@media (max-width: 768px) {
	.container {
		max-width: 85%;
	}
}

.button {
	display: inline-flex;
	padding: 9px 14px 9px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
}

.button:hover {
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.32);
}

.button:active {
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.24);
}

.button:focus-visible {
	border: 2px solid var(--background, #19191c);
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 0px 1px #85dbd8;
}