@font-face {
    font-family: "Aeonik Pro";
    src: url("/AeonikPro-Regular.ttf");
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #19191C;
    display: flex;
    align-items: center;
}

.container {
    align-items: center;
    justify-content: center;
    max-width: 50%;
    width: fit-content;
    height: min-content;
    background-color: rgba(35, 35, 37);
    border-radius: 16px;
    border: 1px solid #FFFFFF14;
    margin: auto;
    padding: 0;
}

h1 {
    color: #ADADB0;
    font-family: "Aeonik Pro";
}

p {
    color: #ADADB0;
    font-family: 'Inter';
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}

.button {
    display: inline-flex;
    padding: 9px 14px 9px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: linear-gradient(94deg, #FD366E 0%, #FD366E 60.94%, #FE536D 100%);
}

.button:hover {
    background: linear-gradient(94deg, #FD366E 0%, #FD366E 60.94%, #FE536D 100%);
    box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.32);
}

.button:active {
    background: linear-gradient(94deg, #FD366E 0%, #FD366E 60.94%, #FE536D 100%);
    box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.24);
}

.button:focus-visible {
    border: 2px solid var(--background, #19191C);
    background: linear-gradient(94deg, #FD366E 0%, #FD366E 60.94%, #FE536D 100%);
    box-shadow: 0px 0px 0px 1px #85DBD8;
}